<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PredictionIO Test Suite">
            <directory suffix="Test.php">./tests/Bratao/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Bratao/</directory>
        </whitelist>
    </filter>
</phpunit>
